{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>ccikm-bd</title>
</head>
    <body>
        <section class="header">
            <nav class="navbar-top">
                <div class="first-left">
                    <ul class="nav-items">
                        <li><a href="#"><i class="fa fa-globe" style="font-size:48px"></i></a></li>
                        <li><a class="title-link" href="#">KnowledgePortal<br>ClimateChangeAdaption-Bangladesh</a></li>
                    </ul>
                </div>
                <div class="top-right">
                    <ul class="nav-items">
                        <li class="nav-item"><a class="nav-link-tr" href="#">Register/Login</a></li>
                        <li class="nav-item"><a class="nav-link-tr" href="#">Helpdesk</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar-buttom">
                <div class="top-left">
                    <ul class="nav-items">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">NAP</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Sector&Programers</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tools</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Library</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Admin Panel</a></li>
                    </ul>
                </div>
                <div class="search-container">
                    <form action="#">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </nav>
        </section>
        {% block body_block1 %}
        {% endblock %}
        {% block body_block2 %}
        {% endblock %}
    </body>
</html>
