{% load static %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<div class="news-nav">
    <nav class="navbar-top">
        <div class="first-left">
            <ul class="nav-items">
                <li><a class="nav-link" href="#">Home</a></li>
                <li><a class="nav-link" href="#">></a></li>
                <li><a class="nav-link" href="#">News</a></li>
                <li><a class="nav-link" href="#">></a></li>
                <li><a class="nav-link" href="#">Countries 'Walk the Talk' on Transparency and Climate Action</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="news_details">
    <h1>Countries 'Walk the Talk' on Transparency and Climate Action</h1>
    <h3>Published: November 13, 2021</h3>
    <pre>
        UN Climate Change News, 11 November 2021 – At COP26 in Glasgow, 17 countries shared updates on climate action over the
two day- Multilateral Assessment (MA) and Facilitative Sharing of Views (FSV) events.

Seven developing countries participated in the FSV workshop, the final stage of the International Consultation Analysis (ICA) process. At the workshop, Parties shared their experiences on the implementation of the domestic MRV arrangements and
national efforts to establish or enhance them. Countries showcased their mitigation actions in the energy sector by shifting to renewable energy sources such as wind, solar and hydro power. Several countries highlighted the sustainable forest
management activities they are undertaking, such as implementing REDD+, to contribute to reducing emissions from the
forest and land use sector. It was also an opportunity to inform the international community of the support required in
transitioning to the Enhanced Transparency Framework (ETF) under the Paris Agreement.
<img src="{% static 'image/climate-change-bangladesh5.jpg' %}">
    </pre>
</div>