{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <title>News</title>
</head>

<body>
    <div class="news-page">
        <div class="news-nav">
            <nav class="navbar-top">
                <div class="first-left">
                    <ul class="nav-items">
                        <li><a class="nav-link" href="#">Home</a></li>
                        <li><a class="nav-link" href="#">></a></li>
                        <li><a class="nav-link" href="#">News</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <h1>News</h1>
        <p>On this page you will find all news items relevant to climate change adaptation. You can search news using keywords, and period of publication. You can also share news on your social media pages.</p>
        <form>
            <div class="news-search">
                <p>Search by selected keywords</p>
                <input type="text" class="search" placeholder="All keywords">
                <p>Search by year</p>
                <input type="text" class="search" placeholder="All years">
                <p>Search by month</p>
                <input type="text" class="search" placeholder="All months">
                <button type="submit" class="button">Search</button>
            </div>
        </form>
        <div class="news-more">
            <ul class="l-news">
                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">2021.06.01</div>
                    <div class="l-news__content__label p-news__content__label">NEWS DETAILS</div>
                    <div class="l-news__content__text p-news__content__text">Countries 'Walk the Talk' on Transparency and Climate Action</div>
                </li>
                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">2021.06.01</div>
                    <div class="l-news__content__label p-news__content__label">NEWS DETAILS</div>
                    <div class="l-news__content__text p-news__content__text">Countries 'Walk the Talk' on Transparency and Climate Action</div>
                </li>
                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">2021.06.01</div>
                    <div class="l-news__content__label p-news__content__label">NEWS DETAILS</div>
                    <div class="l-news__content__text p-news__content__text">Countries 'Walk the Talk' on Transparency and Climate Action</div>
                </li>
                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">2021.06.01</div>
                    <div class="l-news__content__label p-news__content__label">NEWS DETAILS</div>
                    <div class="l-news__content__text p-news__content__text">Countries 'Walk the Talk' on Transparency and Climate Action</div>
                </li>
                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">2021.06.01</div>
                    <div class="l-news__content__label p-news__content__label">NEWS DETAILS</div>
                    <div class="l-news__content__text p-news__content__text">Countries 'Walk the Talk' on Transparency and Climate Action</div>
                </li>
                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">2021.06.01</div>
                    <div class="l-news__content__label p-news__content__label">NEWS DETAILS</div>
                    <div class="l-news__content__text p-news__content__text">Countries 'Walk the Talk' on Transparency and Climate Action</div>
                </li>
                <li class="l-news__content p-news__content">
                    <div class="l-news__content__day p-news__content__day">2021.06.01</div>
                    <div class="l-news__content__label p-news__content__label">NEWS DETAILS</div>
                    <div class="l-news__content__text p-news__content__text">Countries 'Walk the Talk' on Transparency and Climate Action</div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>